<div class="container">
  <h1>Les Jeux</h1>
  <div class="cards">
    <% @videogames.each do |game| %>
      <div class="card">
        <div class="card-game">
          <img class="top-img" src="<%=game.photo%>" alt="">
          <div class="card-game-infos">
            <div>
              <h2 class=""><%= game.name %></h2>
              <p><%= game.genre %></p>
              <p><%= game.price %>€</p>
              </div>
              <div>
              <p><%= link_to "Aller voir", videogame_path(game) %></p>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>


