<div class="container-form">
  <div class="title">
     <h3 class=""><%= @videogame.name %> (<%= @videogame.description %>)</h3>
  </div>

  <div class="body">
    <div class="card-img">
      <img src="<%=@videogame.photo%>" alt="">
    </div>

    <div class="form-card">
      <div class="form-card-content">
        <h3>Réservation du jeu</h3>
        <div class="simple_form form-row">
          <%= simple_form_for [@videogame, Booking.new] do |f| %>
          <%= f.input :start_time, label: 'Date de début', as: :string, input_html:{id: "range_start"} %>
          <%= f.input :end_time, label: 'Date de fin',as: :string, input_html:{id: "range_end"} %>
          <%= f.button :submit, "Réservez - #{@videogame.price}€", class:"btn-primary" %>
        <%end%>
      </div>
    </div>
  </div>
</div>
</div>
