<div class="container-form">

  <div class="card">
    <div class="card-game">
      <img class="top-img" src="<%=@videogame.image%>" alt="">
      <div class="card-game-infos">
        <div>
          <h2 class="text-primary"><%= @videogame.name %></h2>
          <p><%= @videogame.description %></p>
          <p><%= @videogame.price %>$</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="button-modal-show" data-toggle="modal" data-target="#modaltoto">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="modaltoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-card">
          <div class="form-card-content">
            <h6>Je souhaite réserver ce jeu du :</h6>
              <%= simple_form_for [@videogame, Booking.new] do |f| %>
              <%= f.input :start_time, as: :string, input_html:{class: "datepicker"} %>
              <%= f.input :end_time, as: :string, input_html:{class: "datepicker"} %>
              <%= f.submit %>
            <%end%>
          </div>
        </div>
      </div>
  </div> -->

  <div class="form-card">
    <div class="form-card-content">
      <h2>Réservation</h2>
       <div class="simple_form form-row" style="width: 300px; margin: 0 auto;">
        <h6>Je souhaite réserver ce jeu du :</h6>
          <%= simple_form_for [@videogame, Booking.new] do |f| %>
          <%= f.input :start_time, as: :string, input_html:{id: "range_start"} %>
          <%= f.input :end_time, as: :string, input_html:{id: "range_end"} %>
          <%= f.button :submit, "Réservez", class:"btn-primary" %>
        <%end%>
       </div>
    </div>
  </div>
</div>

</div>
