  <div class="card-trip">
    <img src="<%=@videogame.image%>">
    <div class="card-trip-infos">
      <div>
        <h2><%= @videogame.name %></h2>
        <p><%= @videogame.description %></p>
      </div>
      <h2 class="card-trip-pricing"><%= @videogame.price %>€</h2>
      <img src="<%=@user.avatar%>" class="card-trip-user avatar-bordered">
    </div>
  </div>

<!--   <div class="btn btn-primary mt-5">Book now !
  </div>
 -->

  <%= simple_form_for [@videogame, Booking.new] do |f| %>

      <%= f.input :start_time, as: :date %>

      <%= f.input :end_time, as: :date %>

      <%= f.submit %>
  <%end%>



<div class="flexbox">
  <div class="btn btn-info mt-5">
  <%= link_to "Back to list", videogames_path%>
  </div>
</div>
